/*
a {
	color: #39a73c;
}
a:hover {
	color: #317621;
}
*/
h1 {
	font-size: 30px;
}
.js-info-stats {
	padding: 10px;
	background: #dedede;
}
table {
	width: 100%;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	font-size: 14px;
	border-collapse: separate;
}
table th, table td {
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 2px 5px;
	white-space: nowrap;
	vertical-align: top;
	font-size: 14px;
}

table th a, table td a{
	font-size: 14px !important;
}

table th {
	background: #333;
	color: #fff;
	vertical-align: bottom;
	font-size: 14px;
}
table .current-combatatant td {
	background: #aaf !important;
}
label {
	display: block;
}
select,input[type="text"],textarea {
	padding: 1px 5px;
	display: block;
	width: 100%;
	font-size: 12px;
	outline: none;
	resize: none;
	background: #fff;
	border: 1px solid #333;
}
select:focus,input[type="text"]:focus,textarea:focus {
	border: 1px solid #428bca;
	background: #c4d6e6;
}
.footer {
	border-top: 2px solid #999;
	padding: 10px 0;
	margin: 30px 0 0 0;
	font-size: 10px;
}
.footer img {
	float: left;
	margin: 0 10px 10px 0;
}
.js-info-stats h3 {
	margin: 0;
	padding: 0;
}
.js-info-stats p {
	margin: 0;
	padding: 0;
}
.js-alert-container {
	margin-top: 20px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.fade.in {
  opacity: 1;
}

fieldset {
	border: solid 1px #ddd;
	padding: 15px;
	margin: 15px;
}
.full-width {
	width: 100%;
}
.header-bar {
	background: #333;
	color: #fff;
}

.action-bar {
	background: #666;
	color: #fff;
	padding: 5px 0;
}


.action-bar a {
	text-decoration: none;
	margin-right: 5px;
	font-size: 20px;
}
.action-bar a:hover {
	color: #fff;
	text-decoration: none;
}

.header-bar a {
	text-decoration: none;
}
.header-bar a:hover {
	color: #fff;
	text-decoration: none;
}
legend {
	border: none;
	display: inline;
	width: auto;
	padding: 0 20px;
	margin: 0;
}
.color-red {
	color: #d9534f;
}
.color-green {
	color: #5cb85c;
}
.color-blue {
	color: #428bca;
}


.dragged {
	position: absolute;
	opacity: 0.5;
	cursor: pointer;
	z-index: 2000;
	cursor: pointer;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
	background-color: #e9e9e9;

}
.table-bordered th, .table-bordered td {
	border-left: 1px solid #dddddd;
}
.table-bordered {
	border: 1px solid #dddddd;
	border-collapse: separate;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.sorted_table .placeholder {
	position: absolute;
}

.sorted_table ,
.sorted_table tr,
.sorted_table td,
.sorted_table th {
	position: relative;
}

.sorted_table .dragrow {
	position: relative;
}
.min-width {
	width: 1%;
}

.js-select-check {
	margin: 0 0 0 5px !important;
}

.drag-select {
	cursor: move !important;
	padding: 0;
	font-size: 15px;
}

.sorted_table a {
	position: relative;
	font-size: 20px;
	margin-left: 7px;
}

.sorted_table a:first-child {
	margin-left: 0;
}

.sorted_table .placeholder {
	background: #0c0;
	width: 100%;
	height: 3px;
	z-index: 1000;
}
.sorted_table .placeholder:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-top: -5px;
	left: -8px;
	top: -4px;
	border: 10px solid transparent;
	border-left-color: #0c0;
	border-right: none;
}

.sorted_table .placeholder:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-top: -5px;
	right: -8px;
	top: -4px;
	border: 10px solid transparent;
	border-right-color: #0c0;
	border-left: none;
}

.js-mobile-details {
	position: absolute;
	z-index: 100;
	background: #ededed;
	border: 1px solid #666;
	border-radius: 5px;
	width: 300px;
	overflow: hidden;
	margin: 5px 0 0 0;
	padding: 3px 10px;
}
h5 {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #333;
	font-weight: bold;
}
.js-gm-control-line-view {
	float: left;
	margin: 0 10px 0 0;
}

.js-turn-controls a .glyphicon,
.js-turn-controls .glyphicon {
	font-size: 24px;
	margin: 0 10px;
	padding: 0;
}
.js-turn-controls a {
	margin: 0;
	padding: 0;
}
.shock-damage {
	font-weight: bold;
	color: #fff;
	background-color: #f00;
	margin-right: 5px;
	border: 1px solid #f00;
	border-radius: 5px;
	width: 10px;
	height: 10px;
	padding: 1px 2px;
}
.js-gm-control-damage-modify-dropdown {
	display: none;
	overflow: hidden;
}
.js-gm-control-fatigue-modify-dropdown {
	display: none;
	overflow: hidden;
}

.js-gm-control-load-saved-items .glyphicon {
	font-size: 20px;
}
.js-gm-control-fatigue-modify-ok span,
.js-gm-control-damage-modify-ok span,
.js-gm-control-fatigue-modify-plus span,
.js-gm-control-fatigue-modify-minus span,
.js-gm-control-damage-modify-plus span,
.js-gm-control-damage-modify-minus span {
	font-size: 20px;
}
.js-gm-control-fatigue-modify-max,
.js-gm-control-fatigue-modify-zero,
.js-gm-control-damage-modify-max,
.js-gm-control-damage-modify-zero,
.js-gm-control-fatigue-modify-ok,
.js-gm-control-damage-modify-ok {
	display: none;
}